<section data-ng-controller="DataListController" data-ng-init="findOne()">
  <form name="datalistForm" class="form-horizontal col-md-6" role="form" data-ng-submit="update(datalistForm.$valid)" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : submitted && datalistForm.title.$invalid }">
      <label mean-token="'edit-title'" for="title" class="col-md-2 control-label">Title</label>
      <div class="col-md-10">
        <input name="title" type="text" class="form-control" data-ng-model="datalist.title" id="title" placeholder="Title" required>
        <div ng-show="submitted && datalistForm.title.$invalid" class="help-block">
          <p ng-show="datalistForm.title.$error.required">Title is required</p>
        </div>
      </div>

    </div>
    <div class="form-group" ng-class="{ 'has-error' : submitted && datalistForm.content.$invalid }">
      <label mean-token="'edit-content'" for="content" class="col-md-2 control-label">Content</label>
      <div class="col-md-10">
        <textarea name="content" data-ng-model="datalist.content" id="content" cols="30" rows="10" placeholder="Content" class="form-control" required></textarea>
        <div ng-show="submitted && datalistForm.content.$invalid" class="help-block">
          <p ng-show="datalistForm.content.$error.required">Content is required</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <button mean-token="'edit-submit'" type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</section>
