<section data-ng-controller="DataListController" data-ng-init="find()">
  <table ng-table class="table" data-ng-hide="!items || items.length === 0">
    <thead>
      <tr>
          <th ng-repeat="field in schema" ng-if="field.showinlist">{{field.label}}</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in items">

          <td ng-repeat="field in $parent.schema" ng-if="field.showinlist">
            <datalistdisplay ng-model="field" dl-model="item"></datalistdisplay>
          </td>

          <td>
            <a class="btn" href="/#!/datalist/{{item._id}}/edit" data-ng-if="hasAuthorization(item)">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
          <td>
            <a class="btn" data-ng-click="remove(item);" data-ng-if="hasAuthorization(item)">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
      </tr>
    </tbody>
  </table>



  <h1 data-ng-hide="!items || items.length">No datalist yet. <br> Why don't you <a href="/#!/datalist/create">Create One</a>?</h1>



  <div class="row">
    <div class="col-md-4 tree-browser">
      <js-tree 
        tree-events="select_node:nodeSelected" 
        tree-ajax="/api/tree" 
        tree-core="tree_core"
        tree-plugins="dnd,contextmenu"
        tree-contextmenu="contextMenu"
      ></js-tree>
    </div>
    <div class="col-md-8 file-viewer">
      <pre><code>{{fileViewer}}</pre></code>
    </div>
  </div>



  
</section>
