<section data-ng-controller="DataListController" data-ng-init="find()">
  <!--
  <ul class="datalist unstyled">
    <li data-ng-repeat="item in datalist">
      <span>{{item.created | date:'medium'}}</span> /
      <span>{{item.user.name}}</span>
      <h2>
        <a data-ng-href="#!/datalist/{{item._id}}">{{item.title}}</a>
        <span data-ng-if="hasAuthorization(item)">
          <a class="btn" href="/#!/datalist/{{item._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="btn" data-ng-click="remove(item);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </span>
      </h2>
      <div>{{item.content}}</div>
    </li>
  </ul>
-->




  <table ng-table class="table" data-ng-hide="!items || items.length === 0">
    <thead>
      <tr>
          <th ng-repeat="field in schema">{{field.label}}</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="item in items">

          <td ng-repeat="field in $parent.schema">
            <a ng-if="isDate(item[field.id])" href="/#!/datalist/{{item._id}}">{{item[field.id] | date:'dd-MMMM-yyyy'}}</a>
            <a ng-if="!isDate(item[field.id])" href="/#!/datalist/{{item._id}}">{{item[field.id]}}</a>
          </td>

          <td data-ng-if="hasAuthorization(item)">
            <a class="btn" href="/#!/datalist/{{item._id}}/edit">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
          <td data-ng-if="hasAuthorization(item)">
            <a class="btn" data-ng-click="remove(item);">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
      </tr>
    </tbody>
  </table>



  <h1 data-ng-hide="!items || items.length">No datalist yet. <br> Why don't you <a href="/#!/datalist/create">Create One</a>?</h1>
</section>
