<section data-ng-controller="DataListController" data-ng-init="findOne()">

<div data-ng-if="hasAuthorization(item)">
<span>{{item.created | date:'medium'}}</span> /
  <span>{{item.user.name}}</span>
    <a class="btn" href="/#!/datalist/{{item._id}}/edit">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn" data-ng-click="remove(item);">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
<div ng-repeat="field in schema track by $index">
  <datalistdetail ng-model="field" dl-model="item"></datalistdetail>
</div>
  
</section>
