.datalist-example h1 {
  background-color: purple
}

.ng-table {
    border: 1px solid #000;
}

.ng-table .btn{
	padding : 0 !important;
}

.ace_editor {
  height: 200px;
  background-color: #454545;
}


.tree-browser {
  overflow: auto;
}
.file-viewer {
  padding-left: 50px;
  overflow: auto;
}
.jstree-custom-folder{
  background-image: url('../img/folder.png') !important;
  background-position: 0 !important;
}
.jstree-custom-file {
  background-image: url('../img/file.png') !important;
  background-position: 0 !important;
}
